<!-- TuneTracker/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Favorite Tunes{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'TuneTracker/css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'song_list' %}">Favorite Tunes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == '/add_song/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'add_song' %}">Add Song</a>
                </li>
                <li class="nav-item {% if request.path == '/add_artist/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'add_artist' %}">Add Artist </a>
                </li>
                <li class="nav-item {% if request.path == '/artists/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'artist_list' %}"> Artists </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Add Bootstrap JS and Popper.js for dropdowns and other interactive features -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
